*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

/* Heade */

header{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 10%;
    padding: 1%;
}

header a {
    text-decoration: none;
}

header #menu {
    display: none;
}

header .nav_1 h3{
    cursor: pointer;
}

header .nav_1, header .nav_2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .lingua {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .lingua img{
    width: 30%;
    height: 3vh;
}

header .nav_2 .lingua p {
    width: 100%;
}

button{
    color: black;
    width: 50%;
    height: 5vh;
    border-radius: 2vw;
    cursor: pointer;
    border: 0;
}

/* Main */

main .main_topo {
    background-image: url('./Img/Interior\ Carro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 70vh;
    filter: brightness(20%);
}

main .main_topo .titulo {

}

main .main_topo .bloco {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70vw;
    height: 20vh;
}

main .main_topo .campos {

}

main .main_topo button {
    width: 15%;
}

/* Celular */

@media screen and (min-width: 320px) and (max-width: 480px){
    header .nav_1 {
        display: none;
    }

    header #menu {
        display: flex;
        width: 7%;
    }
}

/* Tablet */

@media screen and (min-width: 481px) and (max-width: 800px){
    header .nav_1 {
        display: none;
    }

    header #menu {
        display: flex;
        width: 6%;
    }
}